@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
html,
body {
  font-family: 'Roboto', sans-serif;
  background-color: #e9ecef;
}
label {
  margin: 10px 0px;
}
input,
select {
  outline: none;
  padding: 10px 16px;
  border: none;
  border-radius: 5px;
}
input:focus {
  border: 0.8px solid rgb(104, 104, 197);
}
.btn {
  border-radius: 10px;
  outline: none;
  border: none;
  padding: 12px 20px;
  font-size: 14px;
  font-weight: 600;
  cursor: pointer;
}
.btn-del {
  background-color: red;
  color: white;
}
.btn-addrow {
  background-color: rgb(76, 76, 234);
  color: white;
}
.reset {
  background-color: rgb(215, 158, 158);
}
.submit {
  background-color: rgb(43, 43, 156);
  color: #ffffff;
}
header {
  width: 100%;
  background-color: #333;
  color: #ffffff;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}
nav {
  display: flex;
}
ul {
  display: flex;
  justify-content: center;
  align-items: center;
}
li {
  list-style: none;
  margin-left: 30px;
}
li a {
  color: #ffffff;
  list-style: none;
  text-decoration: none;
  text-transform: capitalize;
}
table {
  border-collapse: collapse;
  width: 100%;
  border: none;
}
thead,
tbody,
tr,
td,
th {
  border: none;
}

th,
td {
  border: 0px solid #ddd;
  padding: 8px;
  text-align: left;
}

button {
  padding: 5px;
  margin: 5px;
}

/* Index.html */

.details-section {
  width: 90%;
  margin: 40px auto;
}
.details-container {
  display: grid;
  grid-template-columns: repeat(4 1fr);
  background-color: white;
  padding: 40px 40px;
  border-radius: 40px;
}

.grid-three {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 20px;
  background-color: #bde0fe;
  padding: 40px;
  border-radius: 15px;
  margin: 20px 0px;
}
.input-div {
  display: grid;
}

/* Balance Sheet */

.details-section {
  width: 90%;
  margin: 40px auto;
}
.container {
  display: grid;
  grid-template-columns: repeat(4 1fr);
  background-color: white;
  padding: 40px 40px;
  border-radius: 40px;
}
table input {
  border: 1px solid gray;
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

/* Fixed assetts */

.flex {
  display: flex;
  margin: 30px 0px;
  gap: 100px;
}
.flex input {
  border: 1px solid gray;
}
